* {
    margin: 0;
    padding: 0;
    font-family: "SUSE Mono", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

hr {
    margin: 5% 40% 2.5% 0;
    height: 2px;
    background-color: black;
    border: none;
    border-radius: 4px;
}

body{
    margin:0 0 0 5%;
}

h2 {
    color: #2f9e44;
    font-size: 20px;
    padding: 1.5em 0 0.5em 0;
}
h3{
    color:#1971c2
}

ul{
    margin:15px;
}

p, date,li{
    font-weight: 500;
}